@media screen and (min-width: 1024px) {
    .section4{
        box-shadow: 0 5px 5px black;
        background-color: var(--color-terciary);
        flex-wrap:wrap;
        padding: 1%;
        opacity: 0;
        transition: 1s;
    }
    .section4.visible{
        opacity: 1;
    }
    
    .line{
        color: rgb(156, 156, 156);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    
    .div_conhecimentos{
        margin-bottom: 5%;
        margin-top: 5%;
        display: flex;
        align-items: center;
        background-color: var(--color-primary);
        width: 9%;
        height: 20vh;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .div_conhecimentos:hover{
        width: 11%;
        height: 25vh;
        background-color: #141414;
        box-shadow: 0 0 100px black;
    }
    
    #line_inConhecimentos{
        background-color: var(--color-secondary);
        width: 0.9%;
        height: 0vh;
        position: relative;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        transition: 1.5s;
    }
    .section4.visible #line_inConhecimentos{
        height: 17vh;
    }
    .div_conhecimentos img{
        width: 65%;
        margin: 0 auto;
        bottom: 0%;
        cursor: pointer;
        transition: 0.5s;
    }
    #github_link{
        opacity: 0;
        transition: 0.5s;
    }
    .sobre_conhecimentos.visible #github_link{
        opacity: 1;
    }
    .div_conhecimentos:hover img{
        width: 80%;
        filter: drop-shadow(0 0 20px rgb(255, 255, 255, 0.5));
    }
    
    
    .div_conhecimentos_select{
        opacity: 0;
        margin-bottom: 5%;
        margin-top: 5%;
        display: flex;
        align-items: center;
        background-color: var(--color-secondary);
        width: 0%;
        height: 0vh;
        transition: 1s;
    }
    .sobre_conhecimentos.visible .div_conhecimentos_select{
        opacity: 1;
        width: 9%;
        height: 14vh;
    }
    
    .sobre_conhecimentos{
        opacity: 0;
        position: relative; 
        top: 50%; 
        left: 50%; 
        width: 70%;
        height: 0vh;
        transform: translate(-50%, 0%);
        background-color: var(--color-primary);
        flex-direction: column;
        display: flex;
        align-items: center;
        transition:  0.5s;
    }
    .sobre_conhecimentos.visible{
        opacity: 1;
        height: 70vh;
    }
    .sobre_conhecimentos h1{
        opacity: 0;
        font-size: 0vh;
        text-decoration: underline white;
        transition: 0.5s;
    }
    .sobre_conhecimentos.visible h1{
        opacity: 1;
        font-size: 5vh;
    }
    .sobre_conhecimentos h2{
        margin-top: 2%;
        opacity: 0;
        font-size: 0vh;
        word-wrap: break-word;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        transition: 1s;
    }
    .sobre_conhecimentos.visible h2{
        opacity: 1;
        font-size: 3vh;
    }
    .div_conhecimentos_select{
        background-color: var(--color-secondary);
        width: 13%;
        height: 20vh;
        margin: 1%;
    }
    
    .div_conhecimentos_select img{
        position: relative;
        width: 60%;
        margin: 0 auto;
        padding: 0 auto;
    }
}